$extra-light: #ffffff;
$light: #bbbbbb;
$purple: #726eff;
$light-green: #5affe7;
$dark-green: #08c6ab;
$dark: #37465b;
$extra-dark: #212b38;

$background-light: $extra-light;
$background-active: $dark-green;
$background-highlighted: $purple;
$background-disabled: $dark;
$background-dark: $extra-dark;

$text-heading: $purple;
$text-dark: $extra-dark;
$text-secondary: $dark;
$text-light: $extra-light;
$text-special: $light-green;
$text-disabled: $extra-dark;