@import '../styles/colors.scss';
@import '../styles/fonts.scss';

.account_picker {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;

    .heading {
        text-transform: uppercase;
        @extend .global-heading-1; 
    }
    
    .dark_mode_checkbox {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}