@import '../styles/colors.scss';
@import '../styles/fonts.scss';

.account_picker {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;

    .heading {
        text-transform: uppercase;
        @extend .global-heading-1; 
    }
    
    .actions {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        .dark_check {
            flex-grow: 1;
        }
    }
}